---
import * as interfaces from '../../lib/interfaces.ts'
import NotionBlocks from '../NotionBlocks.astro'

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
  renderChildren?: boolean; // Make this optional
  setId?:boolean;
}

const { block, headings, renderChildren = true, setId=true } = Astro.props;
---

<div class="block sm:flex flex-wrap w-full mx-auto my-4 gap-x-4 md:flex-nowrap max-w-full">
  {
    block.ColumnList.Columns.map((column: interfaces.Column) => (
      <div  class="ncolumns w-full flex-1 min-w-0 basis-44 sm:w-44 md:w-auto max-w-full">
        <NotionBlocks blocks={column.Children} headings={headings} renderChildren={renderChildren} setId={setId}/>
      </div>
    ))
  }
</div>
