---
import * as interfaces from "../../lib/interfaces";
import { filePath } from "../../lib/blog-helpers";
import { getTextToAstroIcon } from "@/lib/style-helpers";
import { Icon } from "astro-iconify";
import { ENABLE_LIGHTBOX } from "@/constants";

export interface Props {
	block: interfaces.Block;
  setId?:boolean;
}

const { block, setId=true } = Astro.props;

let url: URL;
try {
	url = new URL(block.File?.External?.Url || block.File?.File?.Url);
} catch (err) {
	console.error(`Invalid file URL. error: ${err}`);
}
const filename = decodeURIComponent(url.pathname.split("/").slice(-1)[0]);
---

<div class="file" id={setId?block.Id:undefined}>
	{
		url && (
			<div>
				{block.File.Caption && block.File.Caption.length > 0 && block.File.Caption[0].Text.Content
					? block.File.Caption[0].Text.Content
					: filename}
				{"  "}
        <span class="border rounded-lg inline-flex border-accent-2/20 hover:border-accent/40 max-w-full">
				<a
					href={block.File.External ? url.String() : filePath(url)}
					target="_blank"
					rel="noopener noreferrer"
				>
					<span class="text-sm inline-flex items-center justify-center rounded-lg p-0.5 font-medium webtrotion-page-link max-w-full">
						Download <Icon name={getTextToAstroIcon("download")} class="inline h-4 w-4" aria-hidden="true" />

					</span>
				</a>
        {/* Conditional Preview for PDFs */}
				{filename.endsWith(".pdf") && ENABLE_LIGHTBOX && (
          <a href={block.File.External ? url.String() : filePath(url)} class="hidden fileglightbox sm:inline" type="application/pdf">
					<span class="text-sm inline-flex items-center ml-2 justify-center underline decoration-wavy decoration-accent-2/20 p-0.5 font-medium hover:decoration-accent/40 max-w-full">
						Preview <Icon name={getTextToAstroIcon("preview-pdf")} class="inline h-4 w-4" aria-hidden="true" />
					</span>
        </a>
				)}
			</span>
    </div>
		)
	}
</div>
